.header{
    width: 100%;
    background-color: aquamarine;
    display: flex;
    
}
.course-name{
    width: 25%;
    margin:0px 0px 0px 10px;

}
/* .logo{

    height: 50px;
    width: 25%;

}
.logo img{
    width: 25%;
   
} */
.menu-bar {
    width: 75%;
    justify-content: space-between;
}

.menu-bar nav a{
    text-decoration: none;
    color: black;
    margin-right: 15px;
    padding: 10px;
    margin:10px 0px 0px 0px;
    font-size: 15px;
}

.menu-bar nav a:hover{
    background-color: violet;
}
